<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DebateSynergyWordAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DebateSynergyWordAddIn.Properties.Settings>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilesDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Hotkeys" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PanelPosition" serializeAs="String">
                <value>msoCTPDockPositionLeft</value>
            </setting>
            <setting name="PanelWidth" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="OpenTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowHeading1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeadingLevels" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value>Garamond</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="SpeechDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="PreserveParagraphs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadSpeech" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="k1" serializeAs="String">
                <value>F1</value>
            </setting>
            <setting name="k2" serializeAs="String">
                <value>F1, Control</value>
            </setting>
            <setting name="k3" serializeAs="String">
                <value>G, Control</value>
            </setting>
            <setting name="k4" serializeAs="String">
                <value>R, Control</value>
            </setting>
            <setting name="k5" serializeAs="String">
                <value>F2</value>
            </setting>
            <setting name="k6" serializeAs="String">
                <value>F2, Control</value>
            </setting>
            <setting name="k7" serializeAs="String">
                <value />
            </setting>
            <setting name="k8" serializeAs="String">
                <value />
            </setting>
            <setting name="k9" serializeAs="String">
                <value>Oemtilde</value>
            </setting>
            <setting name="k10" serializeAs="String">
                <value>T, Control</value>
            </setting>
            <setting name="k11" serializeAs="String">
                <value>Oemtilde, Control</value>
            </setting>
            <setting name="k12" serializeAs="String">
                <value>Oemtilde, Alt</value>
            </setting>
            <setting name="MinimizeUnread" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeUnreadSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="UnderlineBold" serializeAs="String">
                <value>False</value>
            </setting>
        </DebateSynergyWordAddIn.Properties.Settings>
    </userSettings>
</configuration>